<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{team.0}} vs {{team.1}} - 基本面分析</title>

    <!-- Bootstrap core CSS -->
	{% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<style type="text/css">
          /*设置body，不要让导航条（默认50px）压到下面的内容*/
           body { padding-top: 70px; }

           /*下拉菜单颜色*/
          .dropdowncolor {
              background-color: #202020;
              color: white;
              font-weight: bold;
          }
          /*轮播图片设置大小*/
          .carousel-inner .item img {
              height: 400px;
              width: 100%;
          }
          /*调整圆角图片大小*/
          .img-circle {
              width: 250px;  
          }
          /*版权信息*/
          #copyright {
              background-color: #202020;
              height: 100px;
              color: #524f4f;
              text-align: center;
              font-size: 10px;
              padding-top: 6px;
          }
		  p {
		       font-size: 18px;
		  }
      </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-----------------------------------------导航条设计开始--------------------------------->
	<!--黑色导航条样式为navbar-inverse，白色样式为default  ， .navbar-fixed-top导航条固定在顶端--> 
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <!------button为实现响应式布局，如果在手机上查看，点击button就可以弹出菜单----> 
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Brand</a>
		</div>
        
		<!-- 当浏览器小于某个值时，点击button图标显示导航条的内容（注意这里的id与button 的id对应）—>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <!--具体菜单项--> 
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li><a href="#">Link</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">One more separated link</a></li>
			  </ul>
			</li>
		  </ul>
		  <!--搜索表单-->
		  <form class="navbar-form navbar-left">
			<div class="form-group">
			  <input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		  </form>
		  <!--导航栏右部，一般的登录 注册-->
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Link</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!------------------------------------------导航条结束-------------------------------->
	<div class="container">
	  <h1>{{ team.0 }} vs {{ team.1 }}</h1>
	  <div class="col-md-9">
	  	<h4>交战历史</h4>
	  </div>
	  <div class="row">
	    <div class="col-md-9" role="main">
	      <table class="table table-bordered">
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>比分</th>
		  	      <th>半场</th>
		  	      <th>赛果</th>
		  	      <th>欧赔</th>
		  	      <th>亚盘</th>
		  	      <th>盘路</th>
		  	      <th>大小</th>
		  	    </tr>
				{% for item in fight_history%}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.date}}</td>
		  	      <td>{{item.match}}</td>
		  	      <td>{{item.half}}</td>
		  	      <td>{{item.result}}</td>
		  	      <td>{{item.e_odd}}</td>
		  	      <td>{{item.a_odd}}</td>
		  	      <td>{{item.odd_result}}</td>
		  	      <td>{{item.daxiao}}</td>
		  	    </tr>
				{% endfor %}
	  	  </table>
	    </div>	
	  </div>
	  <div class="col-md-9">
	  	<h4>主队近期战绩</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9" role="main">
	      <table class="table table-bordered" id="host_rencent_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{ team.0 }}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>比分</th>
		  	      <th>赔率</th>
		  	      <th>半场</th>
		  	      <th>赛果</th>
		  	      <th>盘路</th>
		  	      <th>大小</th>
		  	    </tr>
				{% for item in host_recent_match %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.date}}</td>
		  	      <td>{{item.match}}</td>
		  	      <td>{{item.odd}}</td>
		  	      <td>{{item.half}}</td>
		  	      <td>{{item.result}}</td>
		  	      <td>{{item.odd_result}}</td>
		  	      <td>{{item.daxiao}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="8">
				    <h4>{{host_recent_match_summary}}</h4>
					<p id="host_recent_match_summary" font-size=""></p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	    </div>	
	  </div>
	  <div class="col-md-9">
	  	<h4>客队近期战绩</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9" role="main">
	      <table class="table table-bordered" id="away_rencent_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{team.1}}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>比分</th>
		  	      <th>赔率</th>
		  	      <th>半场</th>
		  	      <th>赛果</th>
		  	      <th>盘路</th>
		  	      <th>大小</th>
		  	    </tr>
				{% for item in away_recent_match %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.date}}</td>
		  	      <td>{{item.match}}</td>
		  	      <td>{{item.odd}}</td>
		  	      <td>{{item.half}}</td>
		  	      <td>{{item.result}}</td>
		  	      <td>{{item.odd_result}}</td>
		  	      <td>{{item.daxiao}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="8">
				    <h4>{{away_recent_match_summary}}</h4>
					<p id="away_recent_match_summary"></p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	    </div>	
	  </div>
	  <div class="col-md-9">
	  	<h4>主队主场近期战绩</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9" role="main">
	      <table class="table table-bordered" id="host_rencent_same_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{ team.0 }}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>比分</th>
		  	      <th>赔率</th>
		  	      <th>半场</th>
		  	      <th>赛果</th>
		  	      <th>盘路</th>
		  	      <th>大小</th>
		  	    </tr>
				{% for item in host_recent_match_same %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.date}}</td>
		  	      <td>{{item.match}}</td>
		  	      <td>{{item.odd}}</td>
		  	      <td>{{item.half}}</td>
		  	      <td>{{item.result}}</td>
		  	      <td>{{item.odd_result}}</td>
		  	      <td>{{item.daxiao}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="8">
				    <h4>{{host_recent_match_same_summary}}</h4>
					<p id="host_recent_match_same_summary"></p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	    </div>	
	  </div>
	  <div class="col-md-9">
	  	<h4>客队客场近期战绩</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9" role="main">
	      <table class="table table-bordered" id="away_rencent_same_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{team.1}}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>比分</th>
		  	      <th>赔率</th>
		  	      <th>半场</th>
		  	      <th>赛果</th>
		  	      <th>盘路</th>
		  	      <th>大小</th>
		  	    </tr>
				{% for item in away_recent_match_same %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.date}}</td>
		  	      <td>{{item.match}}</td>
		  	      <td>{{item.odd}}</td>
		  	      <td>{{item.half}}</td>
		  	      <td>{{item.result}}</td>
		  	      <td>{{item.odd_result}}</td>
		  	      <td>{{item.daxiao}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="8">
				    <h4>{{ away_recent_match_same_summary }}</h4>
					<p id="away_recent_match_same_summary"></p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	    </div>	
	  </div>
	  <div class="col-md-9">
	  	<h4>积分榜</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9">
	  	  <table class="table table-bordered">
	        <thead>
	          <tr>
	          	<td colspan="10" align="center">{{team.0}}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>场次</th>
		  	      <th>胜</th>
		  	      <th>平</th>
		  	      <th>负</th>
		  	      <th>进</th>
		  	      <th>失</th>
		  	      <th>净</th>
		  	      <th>积分</th>
				  <th>排名</th>
		  	      <th>胜率</th>
		  	    </tr>
				{% for item in host_team_league_table %}
		  	    <tr>
		  	      <td>{{ item.match }}</td>
		  	      <td>{{ item.win }}</td>
		  	      <td>{{ item.tie }}</td>
		  	      <td>{{ item.defeat }}</td>
		  	      <td>{{ item.goal }}</td>
		  	      <td>{{ item.lose }}</td>
		  	      <td>{{ item.diff }}</td>
		  	      <td>{{ item.point }}</td>
		  	      <td>{{ item.rank }}</td>
				  <td>{{ item.win_percent }}</td>
		  	    </tr>
				{% endfor %}
		  	</tbody>
	  	  </table>
	  	</div>
	  	<div class="col-md-9">
	  	  <table class="table table-bordered">
	        <thead>
	          <tr>
	          	<td colspan="10" align="center">{{ team.1 }}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>场次</th>
		  	      <th>胜</th>
		  	      <th>平</th>
		  	      <th>负</th>
		  	      <th>进</th>
		  	      <th>失</th>
		  	      <th>净</th>
		  	      <th>积分</th>
				  <th>排名</th>
		  	      <th>胜率</th>
		  	    </tr>
				{% for item in away_team_league_table %}
		  	    <tr>
		  	      <td>{{ item.match }}</td>
		  	      <td>{{ item.win }}</td>
		  	      <td>{{ item.tie }}</td>
		  	      <td>{{ item.defeat }}</td>
		  	      <td>{{ item.goal }}</td>
		  	      <td>{{ item.lose }}</td>
		  	      <td>{{ item.diff }}</td>
		  	      <td>{{ item.point }}</td>
		  	      <td>{{ item.rank }}</td>
				  <td>{{ item.win_percent }}</td>
		  	    </tr>
				{% endfor %}
		  	</tbody>
	  	  </table>
	  	</div>
	  </div>
	  <div class="col-md-9">
	  	<h4>未来赛事</h4>
	  </div>
	  <div class="row">
	  	<div class="col-md-9">
	  	  <table class="table table-bordered" id="host_future_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{ team.0 }}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>对阵</th>
		  	      <th>时间</th>
				  <th>小时数</th>
		  	    </tr>
				{% for item in host_future_match %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.time}}</td>
		  	      <td>{{item.host_team }} vs {{ item.away_team }}</td>
		  	      <td>{{item.day}}</td>
				  <td>{{item.hours}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="5">
					<p id="host_condition">与上场比赛相距 <span id="host_last_match"></span> 天，属于<span id="host_last_condition"></span>；与下场比赛相距 <span id="host_next_match"></span> 小时，属于<span id="host_next_condition"></span>。</p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	  	</div>
	  	<div class="col-md-9">
	  	  <table class="table table-bordered" id="away_future_match">
	        <thead>
	          <tr>
	          	<td colspan="9" align="center">{{ team.1 }}</td>
	          </tr>
	        </thead>
	        <tbody>
		  	    <tr>
		  	      <th>赛事</th>
		  	      <th>比赛日期</th>
		  	      <th>对阵</th>
		  	      <th>时间</th>
				  <th>小时数</th>
		  	    </tr>
				{% for item in away_future_match %}
		  	    <tr>
		  	      <td>{{item.league}}</td>
		  	      <td>{{item.time}}</td>
		  	      <td>{{item.host_team}} vs {{ item.away_team}}</td>
		  	      <td>{{item.day}}</td>
				  <td>{{item.hours}}</td>
		  	    </tr>
				{% endfor %}
				<tr>
				  <td colspan="5">
					<p id="away_condition">与上场比赛相距 <span id="away_last_match"></span> 天，属于<span id="away_last_condition"></span>；与下场比赛相距 <span id="away_next_match"></span> 小时，属于<span id="away_next_condition"></span>。</p>
				  </td>
				</tr>
		  	</tbody>
	  	  </table>
	  	</div>
	  </div>
	</div>
	<!--底部开始-->
	<div id="copyright">
      <p style="margin-top:10px">2017@FootballmatchAnalysing  All Rights Reserved. </p>
      <p> 工信部备案号： 粤ICP备16002450号-1 </p>
      <p> 联系方式：qq:419337193    邮箱：huoyi-20@163.com </p>
    </div>
    <script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	<script src="{% static "js/statstics.js" %}"></script>
	<script>
	    function datedifference(sDate1, sDate2) {    //sDate1和sDate2是2006-12-18格式  
            var dateSpan,tempDate,iDays;
			sDate1 = Date.parse(sDate1);
			sDate2 = Date.parse(sDate2);
			dateSpan = sDate2 - sDate1;
			dateSpan = Math.abs(dateSpan);
			iDays = Math.floor(dateSpan / (24 * 3600 * 1000));
            return iDays
        };
		var host_s1 = '20'+$('#host_rencent_match > tbody >tr:eq(1) > td:eq(1)').html();
		var host_s2 = '20'+$('#host_rencent_match > tbody >tr:eq(2) > td:eq(1)').html();
        var host_delta1 = datedifference(host_s1,host_s2); 
		$('#host_last_match').html(host_delta1);
		var host_s5 = parseInt($('#host_future_match > tbody >tr:eq(1) > td:eq(4)').html());
		if(host_s5 <= 0){
		    host_s5 = parseInt($('#host_future_match > tbody >tr:eq(2) > td:eq(4)').html());
		}
		$('#host_next_match').html(host_s5);
		var away_s1 = '20'+$('#away_rencent_match > tbody >tr:eq(1) > td:eq(1)').html();
		var away_s2 = '20'+$('#away_rencent_match > tbody >tr:eq(2) > td:eq(1)').html();
        var away_delta1 = datedifference(away_s1,away_s2);
		$('#away_last_match').html(away_delta1);
		var away_s5 = parseInt($('#away_future_match > tbody >tr:eq(1) > td:eq(4)').html());
		if(away_s5 <= 0){
		    away_s5 = parseInt($('#away_future_match > tbody >tr:eq(2) > td:eq(4)').html());
		}
		$('#away_next_match').html(away_s5);
		if(host_delta1 <= 2){
		    $('#host_last_condition').html('重度疲劳');
			$('#host_last_condition').css({color:'red'});
		}else if(host_delta1 >= 3 && host_delta1<=4){
		    $('#host_last_condition').html('中度疲劳');
			$('#host_last_condition').css({color:'blue'});
		}else if(host_delta1 >= 5 && host_delta1<= 6){
		    $('#host_last_condition').html('轻度疲劳');
			$('#host_last_condition').css({color:'pink'});
		}else{
		    $('#host_last_condition').html('不疲劳');
		}
		if(host_s5 <= 58){
		    $('#host_next_condition').html('重度分心');
			$('#host_next_condition').css({color:'red'});
		}else if(host_s5 >= 59 && host_s5<=105){
		    $('#host_next_condition').html('中度分心');
			$('#host_next_condition').css({color:'blue'});
		}else if(host_s5 >= 106 && host_s5<= 120){
		    $('#host_next_condition').html('轻度分心');
			$('#host_next_condition').css({color:'pink'});
		}else{
		   $('#host_next_condition').html('不分心');
		}
		var away_temp1 = '';
		if(away_delta1 <= 2){
		    $('#away_last_condition').html('重度疲劳');
			$('#away_last_condition').css({color:'red'});
		}else if(away_delta1 >= 3 && away_delta1<=4){
		    $('#away_last_condition').html('中度疲劳');
			$('#away_last_condition').css({color:'blue'});
		}else if(away_delta1 >= 5 && away_delta1<= 6){
		    $('#away_last_condition').html('轻度疲劳');
			$('#away_last_condition').css({color:'pink'});
		}else{
		   $('#away_last_condition').html('不疲劳');
		}
		var away_temp2 = '';
		if(away_s5 <= 58){
		    $('#away_next_condition').html('重度分心');
			$('#away_next_condition').css({color:'red'});
		}else if(away_s5 >= 59 && away_s5<=105){
		    $('#away_next_condition').html('中度分心');
			$('#away_next_condition').css({color:'blue'});
		}else if(away_s5 >= 106 && away_s5<= 120){
		    $('#away_next_condition').html('轻度分心');
			$('#away_next_condition').css({color:'pink'});
		}else{
		   $('#away_next_condition').html('不分心');
		}


	</script>
  </body>
</html>